body{
    margin-top: 10%;

		background-color: #000;
		background-image: url("images/bg.jpg");
		background-size: cover;
        background-position: top center;
        color: #ffffff ;
        font-size: 24px;
}
.center {    margin: auto;
    width: 40%;
    border: 2px solid rgb(247, 7, 227);
    padding: 10px;
    text-align: center;
    direction: rtl;
  }
  input{
      width: 80%;
  }
  h1{

    width: 100%;
    border: 1px solid rgb(247, 7, 227);
  }
  .center2{
    margin: auto;
    width: 40%;
    border: 3px solid rgb(138, 138, 143);
    padding: 10px;
    text-align: center;
    direction: rtl;
  }
  .acctype{
    padding: 10px;
    direction: ltr;
  }